<div class="container" style="margin-top: 70px;">
  <section
    class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
        >
          <div class="card mb-3">
            <div class="card-body">
              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">
                  Create an Account
                </h5>
                <p class="text-center small">
                  Enter your personal details to create account
                </p>
              </div>

              <form
                class="row g-3 needs-validation"
                [formGroup]="registerForm"
                (ngSubmit)="register()"
              >
                <app-text-input
                  [control]="registerForm.controls.username"
                  type="text"
                  inputId="username"
                  label="Username"
                ></app-text-input>

                <app-text-input
                  [control]="registerForm.controls.fullName"
                  type="text"
                  inputId="fullName"
                  label="Full Name"
                ></app-text-input>

                <div class="mb-3">
                  <label for="gender" class="form-label">Gender:</label>
                  <select
                    formControlName="gender"
                    id="gender"
                    class="form-select"
                  >
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  </select>
                </div>

                <app-date-input
                  [control]="registerForm.controls.dateOfBirth"
                  type="text"
                  inputId="dateOfBirth"
                  label="Date of Birth"
                ></app-date-input>

                <app-text-input
                  [control]="registerForm.controls.password"
                  type="password"
                  inputId="password"
                  label="Password"
                ></app-text-input>

                <app-text-input
                  [control]="registerForm.controls.confirmPassword"
                  type="password"
                  inputId="confirmPassword"
                  label="Confirm Password"
                ></app-text-input>
                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">
                    Create Account
                  </button>
                </div>
                <div class="col-12">
                  <p class="small mb-0">
                    Already have an account? <a routerLink="/login">Log in</a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
