<div class="card">
  <div class="card-body">
    <h4 class="card-title">Your Watchlist</h4>
    <div class="alert alert-warning text-center mt-" *ngIf="!movies || movies.length === 0" role="alert">
      <span>Nothing in your watchlist.</span>
      <a class="btn btn-link" routerLink="/movies">Explore Movies</a>
    </div>
    <div class="row movie-container">
      <div class="col-lg-2" *ngFor="let movie of movies">
        <app-movie-card [movie]="movie"></app-movie-card>
      </div>
    </div>
  </div>
</div>
