<div *ngIf="ratings && ratings.length > 0; else noRatings">
  <div class="card" *ngFor="let rating of ratings">
    <div class="card-body">
      <div class="card-title">
        <a [routerLink]="['/members', rating.username]">Username: {{ rating.username }}</a>
      </div>
      <div>
        <span>Score: {{ rating.score }}</span>
      </div>
      <div>
        <span>Comment: {{ rating.comment }}</span>
      </div>
    </div>
  </div>
</div>
<ng-template #noRatings>
  <p>This movie has not been rated yet.</p>
</ng-template>
