<form
  class="row g-3 needs-validation"
  [formGroup]="changePassForm"
  (ngSubmit)="changePassword()"
>
  <app-text-input
    [control]="changePassForm.controls.currentPassword"
    type="password"
    inputId="currentPassword"
    label="Current Password"
  ></app-text-input>

  <app-text-input
    [control]="changePassForm.controls.newPassword"
    type="password"
    inputId="newPassword"
    label="New Password"
  ></app-text-input>

  <app-text-input
    [control]="changePassForm.controls.confirmPassword"
    type="password"
    inputId="confirmNewPassword"
    label="Confirm New Password"
  ></app-text-input>

  <div class="text-center">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!changePassForm.valid"
    >
      Change Password
    </button>
  </div>
</form>
