<form *ngIf="member" #editForm="ngForm" (ngSubmit)="updateMember()">
  <!-- image -->
  <div class="row mb-3">
    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label"
      >Profile Image</label
    >
    <div class="col-md-8 col-lg-9">
      <img src="{{member.avatar?.url}}" alt="{{member.username}}" />
      <div class="pt-2">
        <a
          class="btn btn-primary btn-sm"
          title="Upload new profile image" (click)="setAvatar()"
          ><i class="bi bi-upload"></i
        ></a>
        <a
          class="btn btn-danger btn-sm"
          title="Remove my profile image" (click)="deleteAvatar()"
          ><i class="bi bi-trash"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
      >Full Name</label
    >
    <div class="col-md-8 col-lg-9">
      <input
        name="fullName"
        type="text"
        class="form-control"
        id="fullName"
        value="{{ member.fullName }}"
      />
    </div>
  </div>

  <div class="row mb-3">
    <label for="gender" class="col-md-4 col-lg-3 col-form-label">Gender</label>
    <div class="col-md-8 col-lg-9">
      <input
        name="gender"
        type="text"
        class="form-control"
        id="gender"
        value="{{ this.member.gender }}"
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="dateOfBirth" class="col-md-4 col-lg-3 col-form-label"
      >Full Name</label
    >
    <div class="col-md-8 col-lg-9">
      <input
        name="dateOfBirth"
        type="text"
        class="form-control"
        id="dateOfBirth"
        value="{{ member.dateOfBirth | date : 'dd/MM/yyyy' }}"
      />
    </div>
  </div>

  <div class="text-center">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!editForm.dirty"
      form="editForm"
    >
      Save Changes
    </button>
  </div>
</form>
