<div class="example-container mat-elevation-z8">
  <!-- filter -->
  <div class="example-header">
    <mat-form-field class="mat-form-field-align-end">
      <input matInput (keyup)="applyFilter($event.target?.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <!-- table -->
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column.displayedColumn">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element[column.displayedColumn] }} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- pagination -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
