<div class="card-body">
  <div class="card-title">
    <div class="col-md-12">
      <input
        matInput
        type="text"
        class="form-control"
        id="filter"
        (keyup)="applyFilter($event.target?.value)"
        placeholder="Keyword"
      />
    </div>
  </div>
  <!-- table -->
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column.displayedColumn">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column.header }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngIf="column.dateColumn; else ifImageColumn; else defaultFormat">
          {{ element[column.displayedColumn] | dateFormat }}
        </ng-container>
        <ng-template #ifImageColumn>
          <img *ngIf="column.imageColumn" [src]="element[column.displayedColumn]" alt="Image" width="50" height="50">
        </ng-template>
        <ng-template #defaultFormat>
          {{ element[column.displayedColumn] }}
        </ng-template>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClick(row)"
      [class.selected-row]="isRowSelected(row)">
    </mat-row>
  </mat-table>


  <!-- pagination -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
