<div class="card">
  <img
    src="{{ movie.banner?.url || './assets/img/moviebanner' }} "
    routerLink="/movies/{{ movie.id }}"
    class="card-img-top banner"
    alt="Movie Banner"
  />
  <div class="card-body d-flex flex-column justify-content-center">
    <h5 class="card-title" routerLink="/movies/{{ movie.id }}">
      {{ movie.title }}
    </h5>
    <p class="card-text">
      <i class="bi bi-star-fill text-warning me-2"></i>
      <span style="margin-top: 5px"
        >{{ movie.averageRating?.toFixed(1) }} ({{ movie.totalRatings }})</span
      >
    </p>
    <a
      *ngIf="!isInWatchlist"
      class="btn btn-outline-primary align-self-center"
      (click)="addToWatchlist(movie.id)"
    >
      <i class="bi bi-plus"><span>Watchlist</span></i>
    </a>
    <a
      *ngIf="isInWatchlist"
      class="btn btn-primary align-self-center"
      (click)="removeFromWatchlist(movie.id)"
    >
      <i class="bi bi-check2"><span>Watchlist</span></i>
    </a>
  </div>
</div>
