<div class="card">
  <div *ngIf="movie" class="card-body">
    <h3 class="card-title">Movie Detail</h3>
    <form>
      <h2>{{ movie.title }}</h2>
      <p><strong>Summary:</strong> {{ movie.summary }}</p>
      <p><strong>Duration:</strong> {{ movie.durationMinutes }} minutes</p>
      <p>
        <strong>Release Date:</strong>
        {{ movie.releaseDate | date : "dd/MM/yyyy" }}
      </p>
      <p><strong>Status:</strong> {{ movie.status }}</p>
      <div *ngIf="movie.genres && movie.genres.length > 0">
        <p><strong>Genres:</strong></p>
        <ul>
          <li *ngFor="let genre of movie.genres">{{ genre.name }}</li>
        </ul>
      </div>
      <div *ngIf="movie.certification">
        <p routerLink="">
          <strong>Certification:</strong> {{ movie.certification.name }}
        </p>
      </div>
    </form>
    <div *ngIf="movie">
      <button class="btn btn-primary" (click)="openRatingDialog()">Add Or Edit Your Rating</button>
    </div>
  </div>

  <div class="card-body" *ngIf="movie">
    <button
      class="btn"
      [class.btn-primary]="!showRatings"
      [class.btn-outline-primary]="showRatings"
      (click)="toggleRatings()"
    >
      {{ showRatings ? "Hide All Ratings" : "Show All Ratings" }}
    </button>
    <div class="mt-3" *ngIf="showRatings">
      <app-rating-list [ratings]="ratings"></app-rating-list>
    </div>
  </div>
</div>



