.banner {
  width: 450px;
  height: 450px;
  border: 1px grey solid;
}
.ratings-container {
  max-height: 500px;
  overflow-y: auto;
}
.summary-scroll {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}
