<div class="row">
    <div class="col-sm-2">
      <img
      id="profileImage"
      class="image"
      [src]="imgUrl"
      alt="Image"
      [ngStyle]="{ 'max-width.px': imgWidth, 'max-height.px': imgHeight }"
    />
    </div>
    <div class="col-sm-1 p-5">
      <label for="uploadInput" class="btn btn-success btn-sm">
        <i class="bi bi-upload"></i>
      </label>
      <input
        type="file"
        id="uploadInput"
        (change)="onFileSelected($event)"
        style="display: none"
      />
    </div>
</div>
