<header id="header" class="header fixed-top d-flex align-items-center">
  <!-- logo -->
  <div class="d-flex align-items-center justify-content-elevent">
    <a routerLink="" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="" />
      <span class="d-none d-lg-block">MoviesConnect</span>
    </a>
  </div>

  <div class="menu mr-3">
    <button class="btn btn-light">
      <i class="bi bi-list" routerLink="/menu"><span class>Menu</span></i>
    </button>
  </div>

  <!-- search -->
  <!-- <div class="search-bar">
    <form
      class="search-form d-flex align-items-center"
      method="POST"
      action="#"
    >
      <input
        type="text"
        name="query"
        placeholder="Search"
        title="Enter search keyword"
      />
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div> -->

  <!-- user dropdown -->
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item nav-icon watchlist">
        <a class="btn btn-light" routerLink="/member/watchlist/"><i class="bi bi-bookmark-plus-fill"><span>Watchlist</span></i></a>
      </li>

      <!-- <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle" href="#">
          <i class="bi bi-search"></i>
        </a>
      </li> -->


      <div>
        <li
          class="btn-login nav-item pe-5"
          *ngIf="(accountService.currentUser$ | async) === null"
        >
          <a class="btn btn-light" routerLink="/login">
            <span>Login</span>
          </a>
        </li>
      </div>
      <li
        class="nav-item dropdown pe-3"
        *ngIf="accountService.currentUser$ | async as user"
      >
        <button
          class="nav-link nav-profile d-flex align-items-center pe-1 btn"
          data-bs-toggle="dropdown"
        >
          <img
            src="{{ user.avatarUrl || './assets/user.png' }}"
            alt="{{ user.username }}"
            class="rounded-circle"
          />
          <span class="d-none d-md-block dropdown-toggle ps-2">{{
            user.username | titlecase
          }}</span>
        </button>

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <!-- admin -->
          <li *ngIf="user.roles?.includes('Admin' || 'Moderator')">
            <hr class="dropdown-divider" />
          </li>
          <li *ngIf="user.roles?.includes('Admin' || 'Moderator')">
            <a
              class="dropdown-item d-flex align-items-center"
              routerLink="/admin"
            >
              <i class="bi bi-person-gear"></i>
              <span>Admin</span>
            </a>
          </li>

          <!-- profile -->
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              routerLink="/member/profile"
            >
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <!-- logout -->
          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              type="button"
              (click)="logout()"
            >
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
