a {
  text-decoration: none;
}
.menu span{
  font-size: 16px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}
.menu i {
  font-size: 16px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}
.btn-login span{
  font-size: 16px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}
.watchlist span, i{
  font-size: 16px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}


