<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >Movies Connect</a
    >
    <div
      class="d-inline-block"
      ngbDropdown
      #myDrop="ngbDropdown"
      *ngIf="accountService.currentUser$ | async as user"
    >
      <button
        type="button"
        class="btn btn-primary me-2"
        id="dropdownManual"
        ngbDropdownAnchor
        (focus)="myDrop.open()"
      >
        <a class="text-light m-lg-2">Welcome {{ user.username | titlecase }}</a>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <button ngbDropdownItem type="button" routerLink="/user/profile">Your Profile</button>
        <button ngbDropdownItem type="button" routerLink="/user/watch-list">Your Watchlist</button>
        <button ngbDropdownItem class="" (click)="logout()">Logout</button>
      </div>
    </div>

    <div *ngIf="(accountService.currentUser$ | async) === null" class="row">
      <div class="col">
        <button
          class="btn btn-outline-light my-2 my-sm-0"
          type="button"
          routerLink="/login"
        >
          Login
        </button>
      </div>
      <div class="col orText"><span class="text-light ">Or</span></div>
      <div class="col">
        <button
          class="btn btn-outline-light my-2 my-sm-0"
          type="button"
          routerLink="/register"
        >
          Register
        </button>
      </div>
    </div>
  </div>
</nav>
