<section class="section profile" *ngIf="member">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
          <img
            src="{{ member.avatar?.url }}"
            alt="{{ member.username }}"
            style="height: 125px; width: 125px"
          />
          <h2>{{ member.fullName }}</h2>
          <h3>{{ member.username | titlecase }}</h3>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pt-3">
          <tabset #memberTabs>
            <!-- edit profile -->
            <tab heading="Edit Profile" (selectTab)="onTabActivated($event)">
              <div class="tab-content m-3">
                <div class="card-body">
                  <form #memberForm="ngForm">
                    <!-- Your form fields -->
                    <div class="row mb-3">
                      <label for="inputText" class="col-sm-2 col-form-label"
                        >Avatar</label
                      >
                      <div class="col-sm-10">
                        <app-upload-image
                          [imgUrl]="member.avatar!.url"
                          [imgHeight]="125"
                          [imgWidth]="125"
                          (fileSelected)="onFileSelected($event)"
                        >
                        </app-upload-image>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="inputText" class="col-sm-2 col-form-label"
                        >Full Name</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="editData.fullName"
                          name="fullName"
                          required
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="inputText" class="col-sm-2 col-form-label"
                        >Gender</label
                      >
                      <div class="col-sm-10">
                        <select
                          class="form-select"
                          [(ngModel)]="editData.gender"
                          name="gender"
                        >
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value="Other">Other</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="dateOfBirth" class="col-sm-2 col-form-label"
                        >Date Of Birth</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="date"
                          class="form-control"
                          [value]="editData.dateOfBirth | date : 'yyyy-MM-dd'"
                          name="dateOfBirth"
                          (input)="editData.dateOfBirth = $event.target.value"
                        />
                      </div>
                    </div>

                    <div class="col mb-3 text-center">
                      <button
                        class="btn btn-primary me-2"
                        [disabled]="!memberForm.valid"
                        (click)="updateMember()"
                      >
                        Save
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </tab>
            <tab heading="Settings" (selectTab)="onTabActivated($event)">
              <div class="tab-content p-3">
                <form>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label"
                      >Private Account</label
                    >
                    <div class="col-sm-10 mt-2">
                      <div class="form-check form-switch">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="flexSwitchCheckDefault"
                          [(ngModel)]="member.isPrivate"
                          name="ratingViolation"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col mb-3 text-center">
                    <button
                      class="btn btn-primary me-2"
                      (click)="changeSettingAccount()"
                    >
                      Save
                    </button>
                  </div>
                </form>
              </div>
            </tab>
            <tab heading="Change Password" (selectTab)="onTabActivated($event)">
              <div class="tab-content p-3">
                <app-change-password></app-change-password>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>
