<section class="section profile d-flex justify-content-center align-items-center">
  <div class="col-xl-8">
    <div class="card">
      <div class="card-body pt-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered">
          <li class="nav-item">
            <button
              class="nav-link active"
              data-bs-toggle="tab"
              data-bs-target="#profile-overview"
            >
              Overview
            </button>
          </li>

          <li class="nav-item">
            <button
              class="nav-link"
              data-bs-toggle="tab"
              data-bs-target="#profile-edit"
            >
              Edit Profile
            </button>
          </li>

          <li class="nav-item">
            <button
              class="nav-link"
              data-bs-toggle="tab"
              data-bs-target="#profile-settings"
            >
              Settings
            </button>
          </li>

          <li class="nav-item">
            <button
              class="nav-link"
              data-bs-toggle="tab"
              data-bs-target="#profile-change-password"
            >
              Change Password
            </button>
          </li>
        </ul>
        <div class="tab-content pt-2">
          <!-- member-overview -->
          <div
            class="tab-pane fade show active profile-overview"
            id="profile-overview"
          >
            <app-member-overview></app-member-overview>
          </div>
          <!-- member-profile-edit -->
          <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
            <app-member-profile-edit></app-member-profile-edit>
          </div>
          <!-- profile-setting -->
          <div class="tab-pane fade pt-3" id="profile-settings">
            <app-member-profile-setting></app-member-profile-setting>
          </div>
          <!-- change password -->
          <div class="tab-pane fade pt-3" id="profile-change-password">
            <app-change-password></app-change-password>
          </div>
        </div>
        <!-- End Bordered Tabs -->
      </div>
    </div>
  </div>
</section>
