<div *ngIf="member">
  <h5 class="card-title">Profile Details</h5>
  <div class="row mb-3">
    <div class="row">
      <div class="col-lg-3 col-md-4 label">Profile Image</div>
      <div class="col-lg-9 col-md-8">
        <img
          class="avatar"
          src="{{ member.avatar?.url }}"
          alt="{{ member.username }}"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 label">Full Name</div>
      <div class="col-lg-9 col-md-8">{{ member.fullName }}</div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 label">Username</div>
      <div class="col-lg-9 col-md-8">{{ member.username }}</div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 label">Gender</div>
      <div class="col-lg-9 col-md-8">{{ member.gender }}</div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 label">Date Of Birth</div>
      <div class="col-lg-9 col-md-8">
        {{ member.dateOfBirth | date : "dd/MM/yyyy" }}
      </div>
    </div>
  </div>
</div>
