.img {
  max-width: 100%;
  max-height: 250px;
  border: 1px solid;
}
.img:hover {
  cursor: pointer;
}
.card-title:hover {
  cursor: pointer;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
