<div class="card-body">
  <span class="btn btn-close" (click)="closeDialog()"></span>
  <form class="mt-3" #editForm="ngForm">
    <div class="row">
      <div class="col-sm-12">
        <p>{{userWithRole.username | titlecase}}</p>
      </div>
      <div class="col-sm-12">
        <div class="form-floating mb-3">
          <select class="form-select" id="floatingSelect" [(ngModel)]="userWithRole.roles" name="roles">
            <option value="Member">Member</option>
            <option value="Moderator">Moderator</option>
          </select>
          <label for="floatingSelect">Role</label>
        </div>
      </div>
    </div>
    <div class="row text-center mt-2">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary me-2" (click)="editRole()">
          Save
        </button>
        <button class="btn btn-secondary me-2" (click)="closeDialog()">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
