<div class="container">
  <div class="row">
    <!-- Phần filter -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Filter</h1>
          <form>
            <div class="form-group row mt-3">
              <label for="keyword" class="col-sm-4 col-form-label">Title</label>
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  id="keyword"
                  name="keyword"
                  [(ngModel)]="movieParams.keyword"
                  placeholder="Keyword"
                />
              </div>
            </div>

            <div class="form-group row mt-3">
              <label for="status" class="col-sm-4 col-form-label">Status</label>
              <div class="col-sm-8">
                <select
                class="form-select"
                [(ngModel)]="movieParams.status"
                name="gender"
              >
                <option value="">All</option>
                <option value="Released">Released</option>
                <option value="Unreleased ">Unreleased</option>
              </select>
              </div>
            </div>

            <div class="form-group row mt-3">
              <label for="rating" class="col-sm-4 col-form-label">Score</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input
                    type="number"
                    min="0"
                    max="5"
                    class="form-control"
                    placeholder="Min"
                    [(ngModel)]="movieParams.minRating"
                    name="minRating"
                  >
                  <div class="input-group-text">-</div>
                  <input
                    type="number"
                    min="0"
                    max="5"
                    class="form-control"
                    placeholder="Max"
                    [(ngModel)]="movieParams.maxRating"
                    name="maxRating"
                  >
                </div>
              </div>
            </div>

            <div class="form-group row mt-3">
              <label for="genres" class="col-sm-4 col-form-label">Genres</label>
              <div class="col-sm-8">
                <app-multiselect-dropdown
                  [dropdownList]="genres"
                  [selectedItems]="selectedItems"
                  (selectedItemsChange)="onGenresSelected($event)">
                </app-multiselect-dropdown>
              </div>
            </div>
            <div class="form-group row mt-3">
              <label for="certifications" class="col-sm-4 col-form-label">Certifications</label>
              <div class="col-sm-8">
                <app-multiselect-dropdown
                  [dropdownList]="certifs"
                  [selectedItems]="selectedItems"
                  (selectedItemsChange)="onCertifisSelected($event)">
                </app-multiselect-dropdown>
              </div>
            </div>

            <div class="form-group row mt-3">
              <label for="certifications" class="col-sm-4 col-form-label">Actors</label>
              <div class="col-sm-8">
                <app-multiselect-dropdown
                  [dropdownList]="actors"
                  [selectedItems]="selectedItems"
                  (selectedItemsChange)="onActorsSelected($event)">
                </app-multiselect-dropdown>
              </div>
            </div>

            <div class="form-group row mt-3">
              <label for="directors" class="col-sm-4 col-form-label">Directors</label>
              <div class="col-sm-8">
                <app-multiselect-dropdown
                  [dropdownList]="directors"
                  [selectedItems]="selectedItems"
                  (selectedItemsChange)="onDirectorsSelected($event)">
                </app-multiselect-dropdown>
              </div>
            </div>
            <div class="form-group row mt-3">
              <div class="col-sm-9 offset-sm-3">
                <button
                  type="button"
                  class="btn btn-primary me-2"
                  (click)="filterMovies()"
                >
                  Filter
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="resetFilters()"
                >
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Phần container chứa danh sách phim -->
    <div class="col-lg-8 ">
      <div class="card">
        <div class="card-body">
          <div class="row mt-3 movie-list-container">
            <div class="col-lg-3" *ngFor="let movie of movies">
              <app-movie-card [movie]="movie"></app-movie-card>
            </div>
          </div>
          <div
            *ngIf="!movies || movies.length === 0"
            class="alert alert-warning text-center mt-3"
            role="alert"
          >
            Not Found Your Movie Want Find
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
