<div class="card">
  <div class="card-body">
    <h4 class="card-title">Directors</h4>

    <!-- Tìm kiếm -->
    <div class="col-md-12 mb-3">
      <input
        matInput
        type="text"
        class="form-control"
        id="filter"
        (keyup)="applyFilter($event.target.value)"
        placeholder="Search Directors"
      />
    </div>
    <div class="row director-container">
      <div class="col-lg-2" *ngFor="let director of filteredDirectors">
        <app-director-card [director]="director"></app-director-card>
      </div>
    </div>
  </div>
</div>
