<div class="card">
  <div class="card-body">
    <h4 class="card-title">List Movies Recommend For You</h4>
    <div class="alert alert-warning text-center mt-3" *ngIf="!movies || movies.length === 0" role="alert">
      <span>Nothing to show .</span>
      <a class="btn btn-link" routerLink="/movies">Explore Movies</a>
    </div>
    <div class="row movie-container">
      <div class="col-lg-2" *ngFor="let movie of movies">
        <app-movie-card [isShow]="false" [movie]="movie"></app-movie-card>
      </div>
    </div>
  </div>
</div>
