<div class="card">
  <div class="card-body">
    <h5 class="card-title">Top 10 New Movies</h5>
    <div class="row">
      <div class="col">
        <app-movie-carousel [movieParams]="newMovies" [id]="'newMovies'"></app-movie-carousel>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Top 10 Movies Comimg Soon</h5>
    <div class="row">
      <div class="col">
        <app-movie-carousel [movieParams]="moviesComimgSoon" [id]="'moiveCommingSoon'"></app-movie-carousel>
      </div>
    </div>
  </div>
</div>

<div class="card" *ngIf="currentUser">
  <div class="card-body">
    <h5 class="card-title">Top 10 Recommend For You</h5>
    <div class="row">
      <div class="col">
        <div
        id="recmdMovies"
        class="carousel slide pointer-event"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div
            class="carousel-item"
            *ngFor="let chunk of movieChunks; let i = index"
            [class.active]="i === 0"
          >
            <div class="row justify-content-center">
              <div class="col-lg-2 mt-3 mb-3" *ngFor="let movie of chunk">
                <app-movie-card [movie]="movie"></app-movie-card>
              </div>
            </div>
          </div>
        </div>

        <button
          class="carousel-control-prev btn btn-outline-secondary"
          type="button"
          [attr.data-bs-target]="'#recmdMovies'"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next btn btn-outline-secondary"
          type="button"
          [attr.data-bs-target]="'#recmdMovies'"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      </div>
    </div>
  </div>
</div>
