<div class="card">
  <div class="card-body">
    <h5 class="card-title">Top 10 New Movies</h5>
    <div class="row">
      <div class="col">
        <app-movie-carousel
          [movieParams]="newMovies"
          [id]="'newMovies'"
        ></app-movie-carousel>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Certification</h5>
        <div class="certifications" style="min-height: 165px; max-height: 165px; overflow-y: auto;">
          <ul class="list-unstyled text-center">
            <li *ngFor="let certif of certifs">
              <span class="badge bg-primary mt-3 w-50 h-auto">{{
                certif.name
              }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Genres</h5>
        <div class="genres" style="min-height: 165px; max-height: 165px; overflow-y: auto;">
          <ul class="list-unstyled text-center">
            <li *ngFor="let genre of genres">
              <span class="badge bg-primary mt-3 w-50 h-auto">{{
                genre.name
              }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Top 10 Old Movie</h5>
    <div class="row">
      <div class="col">
        <app-movie-carousel
          [movieParams]="moviesComimgSoon"
          [id]="'moviesComimgSoon'"
        ></app-movie-carousel>
      </div>
    </div>
  </div>
</div>
